.uppercase{
  text-transform: uppercase;
}

.btn-focus{
  background-color: white;
  color: #144a5c;
}

.on{
  opacity: 1;
}

.off{
  opacity: 0;
}

.anchor-point {
  position: relative;
  top: -120px;
}
