$principal-typography: 'Roboto', sans-serif;
$secondary-typography: 'Roboto Condensed', sans-serif;
$subtitle-typography: 'Roboto Bold', sans-serif;
$color-section-gray: #f6f0ea;
$color-section-orange: #eb9512;
$color-footer: #144a5c;
$color-light: white;
