.header{
  width: 100%;
  height: 80px;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-header{
  position: fixed;
  top: 0;
  z-index: 0;
}

.nav{
  width: 36rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 5.2rem;
}

@media only screen and (max-width: 500px) {
.nav{
  margin: 1.8rem;
}
}