.section-six{
  background-color: $color-section-gray;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

.wrap:last-child{
  border-bottom: 1px solid $color-footer;
}

.item{
  padding: 30px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid $color-footer;
}

.icon{
  width: 9rem;
}

.text-left{
  order: -1;
  padding-right: 0.8rem;
}

.text-right{
padding-left: 2rem;
}
.text{
  width: 78%;
}

@media only screen and (max-width: 600px) {
.item{
  display: block;
  }
.text {
  width: 100%;
  }
.text-right{
  padding-left: 0;
}
.icon{
  width: 50%;
  margin: 0 auto 0.8rem;
}
}

.icon img{
  background: none;
  width: 100%;
}

.item h3{
  margin: 0;
}

.item p{
  margin: 0;
}
