.format-title-chapter{
  height: 60px;
  display: inline-flex;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
}

.orange-rectangle{
  background-color: #f89e13;
  height: 50%;
  width: 100%;
  align-self: flex-end;
  position: absolute;
}
